body {
    background: url(https://images.pexels.com/photos/207662/pexels-photo-207662.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    color: blanchedalmond;
}

.container {
    height: 500px;
    width: 100%;
    display: flex;
}

.inputs {
    height: 95%;
    width: 200px;
    text-align: center;
    flex: 1;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.input {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

.books {
    display: flex;
    height: 95%;
    width: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    flex: 2;
    user-select: none;
    background: url(https://images.pexels.com/photos/6664543/pexels-photo-6664543.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500)
    
}

.book {
    height: calc(100% - 40px);
    width: 200px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: 100;
    background: url(https://cdn.pixabay.com/photo/2018/01/03/09/09/book-3057902_960_720.png) space;
    cursor: pointer;
    min-width: 168.5px;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
}

.display {
    align-self: center;
}

.info {
    height: 95%;
    width: 200px;
    text-align: center;
    justify-self: right;
    align-self: right;
    flex: 2;
    background:url(https://cdn.pixabay.com/photo/2012/12/06/06/27/paper-68829_960_720.jpg) round;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.info > * {
    display: flex;
    margin-left: 10px;
    color: white;
    font-size: large;
  }

